body {
    margin: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#light {
    width: 100vw;
    height: 100vh;
    background: radial-gradient(circle at center, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 90%);
    position: absolute;
    opacity: 0;
    transition: 1s ease-out;
}

#light.active {
    opacity: 1;
    transition: 0s;
}

#wrapper #renderer {
    width: 100vw;
    height: 100vh;
    position: absolute;
}